
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
body{
  background: #e4dbad;
	font-size: 16px;
	line-height: 1.2;
	color: #242424;
	width: 100%;
	font-family: 'Open Sans', arial, sans-serif;
}
body::-webkit-scrollbar {
	display: none;
  }
 .card{
  box-shadow: 0 5px 20px  rgb(99, 99, 99);
  transition: 0.5s;
 } 